{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>

    <!-- banner -->
    <section class="banner">
      <div class="container-fluid">
          <div class="row text-light py-lg-5">
              <div class="col-10 col-sm-6 col-md-6 col-lg-4 mx-auto p-3 pt-md-5">
                  {% if error %}
                      <div class="alert alert-danger">
                      {{ error.messageKey|trans(error.messageData, 'security') }}
                      </div>
                  {% endif %}
                  {% if app.user %}
                      <div class="mb-3">
                      Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se deconnecter</a>
                      </div>
                  {% endif %}
                  {% for message in app.flashes('success')%}
                      <div class="alert alert-success" role="alert">{{ message }}</div>
                  {% endfor %}
                <form class="py-3 py-md-5" method="POST" id="connexionForm">
                  <div class="mb-4 text-center">
                      <h1 class="text-uppercase mb-5 text-center">galaxy swiss bourdin</h1>
                      <a href="{{path('app_login')}}"><img class="logo mb-3" src="{{asset('img/logo3.gif')}}" alt="logo"></a>
                      <h2>Accéder à votre compte </h2>
                  </div>
                  <div class="mb-3">
                      <div class="input-group mb-4">
                      <label for="input-email" class="sr-only">Email</label>
                      <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control border-0" placeholder="Email" required autofocus>
                      </div>
                  </div>
                  <div class="mb-3">
                      <div class="input-group mb-2">
                      <label class="sr-only" for="inputPassword">Mot de passe</label>
                      <input type="password" id="inputPassword" name="password" placeholder="Mot de passe" class="form-control border-0"  required >
                      <div class="input-group-append password-view-toggler">
                          <div class="input-group-text px-1"><i class="fa fa-eye fa-eye-view text-dark" aria-hidden="true"></i></div>
                      </div>
                      </div>
                  </div>
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                  <div class="mb-3 d-flex justify-content-between">
                      <a href="{{path('send_link_validation')}}" class="text-info mr-5">Activer mon compte </a>
                      <a href="{{path('app_forget_password')}}" class="text-info"> Mot de passe oublié ?</a>
                  </div>
                  <div class="mb-3">
                      <input type="submit" id="connexionSubmit" class="btn btn-outline-primary w-100 mb-2" value="Se connecter">
                  </div>
                  <div class="text-left">
                      <p>Vous n'avez pas encore un compte? </p>
                  </div>
                  <div class="mb-1 text-right">
                      <a class="text-info" href="{{path('app_register')}}">Créer un compte</a>
                  </div>
                </form>
              </div>
          </div>
    </section>
    <!-- end of banner -->
  </main>

{% endblock %}

{% block javascripts %}
  <script src="{{asset('js/home.js')}}"></script>
  <script type="text/javascript" src="{{asset('js/connexion.js')}}"></script>
{% endblock %}