{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
 <!-- form connexion -->
    <section class="form-connexion bg-success">
      <div class="container-fluid">
        <div class="row justify-content-center text-light  py-5">
          <div class="col-10 col-sm-6 col-md-6 col-lg-4 pt-5">
          {% for message in app.flashes('success')%}
              <div class="alert alert-success" role="alert">{{ message }}</div>
          {% endfor %}
          {% for message in app.flashes('danger')%}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endfor %}
            <div class="text-center">
                <div class="mb-3">
                    <a href="{{path('app_login')}}"><img class="logo" src="{{asset('img/logo3.gif')}}" alt="logo"></a>
                </div>
                <div class="mb-1">
                    <p>Vous avez un compte ?<a href="{{path('app_login')}}" class="ml-3 text-info">Se Connecter</a> </p>
                </div>
                <div class="mb-4">
                    <h2>Créer un compte</h2>
                </div>
            </div>
            {{form_start(registrationForm)}}
                {{form_widget(registrationForm)}}
                <div class="mt-4">
                    <input type="submit" class="btn btn-outline-primary w-100 mb-2" value="S'inscrire">
                </div>
            {{form_end(registrationForm)}}
        </div>
      </div>
    </section>
  
{% endblock %}
