{% extends 'base.html.twig' %}

{% block title %}Ajouter une image{% endblock %}

{% block body %}
    {% include 'includes/_navbar.html.twig' %}
    {% include 'includes/_modal.html.twig' %}
    <section>
        <div class="container-fluid mt-5 p-md-5">
            <div class="row ">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row">
                        <div class="col-xl-6 col-12 mx-auto pb-5 text-center">
                            {% if user.photo %}
                                <img src="{{ asset('img/users/' ~ user.photo) }}" width="250" class="img-thumbnail border p-1 ml-3 mr-3" alt="photo de profil" />
                            {% else %}
                                <img src="{{ asset('img/avatar.png') }}" width="250" class="img-thumbnail border ml-3 p-1 mr-3" alt="avatar">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-12 mx-auto">
                            {{ form_start(form) }}
                            {{ form_row(form) }}
                            <div class="row ">
                                <div class="col-6 text-left">
                                    <input class="btn btn-outline-primary" type="submit" value="Valider">
                                </div>
                                <div class="col-6 text-right">
                                    <a href="{{path('app_account_visitor')}}" class="btn btn-danger "> Annuler</a>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'includes/_footer.html.twig'%}
{% endblock %}

{% block javascripts %}

    {{parent()}}
    <script>
        $('#image_imageFile').on('change',function(){
            //get the file name
            var fileName = $(this).val();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>

{% endblock %}