{% extends 'base.html.twig' %}

{% block title %}Saisir mes notes de frais{% endblock %}

{% macro fixed_Costs(form) %}
    <td>
        {{ form_row(form.descriptionCost) }}
    </td>
    <td>
        {{ form_row(form.quantity) }}
    </td>
    <td>
        {{ form_row(form.unitPrice) }}
    </td>
    <td>
        {{ form_row(form.total) }}
    </td>
    <td>
        <a href="" title="supprimer" class="remove"><i class="fa fa-trash fa-lg text-danger py-auto" aria-hidden="true"></i></a>
    </td>

{% endmacro %}

{% macro variable_costs(form) %}
    <td>
        {{ form_row(form.date) }}
    </td>
    <td>
        {{ form_row(form.name) }}
    </td>
    <td>
        {{ form_row(form.nbSupportingDocument) }}
    </td>
    <td>
        {{ form_row(form.price) }}
    </td>
    <td>
        <a href="" title="supprimer" class="remove"><i class="fa fa-trash fa-lg text-danger" aria-hidden="true"></i></a>
    </td>
{% endmacro %}

{% import _self as formFixedCost %}
{% import _self as formVariableCost%}

{% block body %}
    {% include 'includes/_navbar.html.twig' %}
    {% include 'includes/_modal.html.twig' %}
    <!-- section saisir notes de frais -->
    <section class="pt-md-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-9 col-xl-10 ml-auto">
                    <div class="row justify-content-center pt-3 pt-md-5">
                        <div class="col-12 col-md-10">
                            <h1 class="mb-5">Gestion de mes notes de frais du mois : {{ date()|date('m/y') }}</h1>
                        </div>
                        {% for message in app.flashes('danger')%}
                            <div class="alert alert-danger" role="alert">{{ message|raw }}</div>
                        {% endfor %}
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 mb-3">
                            <h2 class="d-inline-block mr-2">Frais au forfait</h2>
                        </div>
                    </div>
                    {{ form_start(form) }}
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-10">
                                <!-- table fixed price -->
                                <div class="table-responsive mb-4">
                                    <table class="table table-dark bg-secondary mb-2">
                                        <thead>
                                            <tr>
                                                <th>Frais au forfait</th>
                                                <th>Quantité</th>
                                                <th>Montant unitaire</th>
                                                <th>Total</th>
                                                <th><a href="" title="ajouter une entrée"  class="add_item_link" data-collection-holder-class="fixedCosts" ><i class="fa fa-plus fa-lg text-primary mr-2" aria-hidden="true"></i></a></th>
                                            </tr>
                                        </thead>
                                        <tbody class="fixedCosts" id="fixedCosts" data-prototype="{{ formFixedCost.fixed_Costs(form.fixedCosts.vars.prototype)|e('html_attr') }}">
                                            {% for row in form.fixedCosts  %}
                                                <tr>
                                                   {{ formFixedCost.fixed_Costs(row) }}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>Mois/Année : {{ date()|date('m/y') }}</td>
                                                <td></td>
                                                <td>Total : </td>
                                                <td>
                                                    <input type="text" id="global_fixedCosts" class="form-control-sm w-100 border-0" readonly>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- end of table fixed price -->
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-10 mb-3">
                                <h2 class="d-inline-block mr-2">Frais hors forfait</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <div class="col col-md-10">
                                <!-- table variable price -->
                                <div class="table-responsive">
                                    <table class="table table-dark bg-secondary mb-2">
                                        <thead>
                                        <tr scope="row">
                                            <th scope="col">Date</th>
                                            <th scope="col">Libellé</th>
                                            <th scope="col">Nombre de justificatifs</th>
                                            <th scope="col">Montant</th>
                                            <th scope="col">
                                                <a href="" title="ajouter une entrée" class="add_item_link_one" data-collection-holder-class="variableCosts" ><i class="fa fa-plus fa-lg text-primary mr-2" aria-hidden="true"></i></a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="variableCosts" id="variableCosts" data-prototype="{{ formVariableCost.variable_Costs(form.variableCosts.vars.prototype)|e('html_attr') }}">
                                            {% for row in form.variableCosts %}
                                                <tr>
                                                    {{ formVariableCost.variable_Costs(row) }}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr id="total">
                                                <td>Mois/Année : {{ date()|date('m/y') }}</td>
                                                <td></td>
                                                <td>Total : </td>
                                                <td>
                                                    <input type="text" id="global_variableCosts" class="form-control-sm w-100 border-0" readonly>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <!-- end of table variable price -->
                            </div>
                        </div>
                        <div class="row mb-5 justify-content-center">
                            <div class="col col-md-10 mb-5 text-right">
                                <input class="btn btn-outline-primary" type="submit" value="Valider">
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
    <!-- end of section saisir notes de frais -->
    {% include 'includes/_footer.html.twig'%}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/forms.js') }}"></script>
{% endblock %}