{% extends 'base.html.twig' %}

{% block title %}Consulter mes notes de frais{% endblock %}

{% block body %}
    {% include 'includes/_navbar.html.twig' %}
    {% include 'includes/_modal.html.twig' %}
    <!-- section consulter notes de frais -->
    <section class="my-3 my-md-5">
        <div class="container-fluid pt-md-5">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row justify-content-center">
                        <div class="col col-md-10">
                            <h1 class="mb-2">Consulter mes notes de frais</h1>
                            <p>Veuillez choisir l'année et le mois pour lequel vous souhaiter consulter vos notes de frais</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col col-md-10">
                            <div class="bg-primary text-light py-2">
                                    {{ form_start(form) }}
                                        <div class="row px-3">
                                            <div class="col-12 col-md-3">{{ form_row(form.month) }}</div>
                                            <div class="col-12 col-md-3">  {{ form_row(form.year) }}</div>
                                            <div class="col-12 col-md-6 text-right">
                                                <input class="btn btn-sm btn-secondary mt-3 px-3" type="submit" value="Rechercher">
                                            </div>
                                        </div>
                                    {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of section consulter notes de frais -->
    <!-- search result elements fixed price -->

    <section class="mb-4" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    {% if fixedCosts is defined and fixedCosts != null %}
                        <div class="row justify-content-center">
                            <div class="col col-md-10">
                                <h2 class="mb-3">Frais au forfait</h2>
                            </div>
                            <div class="col-12 col-md-10">
                                <div class="table-responsive">
                                    <!-- table fixed price -->
                                    <table class="table table-dark bg-secondary">
                                        <thead>
                                        <tr>
                                            <th>Frais au forfait</th>
                                            <th>Date</th>
                                            <th>Quantité</th>
                                            <th>Montant</th>
                                            <th>Statut</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% set totalFixedCost = 0%}
                                            {% for fixedCost in fixedCosts %}
                                                <tr>
                                                    <td>{{ fixedCost.descriptionCost.name }}</td>
                                                    <td>{{ fixedCost.createdAt| date("d/m/Y")}}</td>
                                                    <td>{{ fixedCost.quantity }}</td>
                                                    <td>{{ fixedCost.quantity * fixedCost.descriptionCost.fixedPrice }} €</td>
                                                    <td>
                                                        {% if fixedCost.status == 'Envoyée' or fixedCost.status == 'Reportée'%}
                                                            <span class="badge badge-info">{{ fixedCost.status }}</span>
                                                        {% endif %}
                                                        {% if fixedCost.status == 'Validée' %}
                                                            <span class="badge badge-primary">{{ fixedCost.status }}</span>
                                                            {% set totalFixedCost = (totalFixedCost + (fixedCost.quantity * fixedCost.descriptionCost.fixedPrice)) %}
                                                        {% endif %}
                                                        {% if fixedCost.status == 'Refusée' %}
                                                            <span class="badge badge-danger px-2">{{ fixedCost.status }}</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr >
                                            <td>Total des frais remboursés pour le mois: </td>
                                            <td>{{ month }}/{{ year }}</td>
                                            <td></td>
                                            <td>
                                                <input type="text" class="form-control-sm w-100 border-0" value="{{ totalFixedCost }} €" readonly>
                                            </td>
                                            <td></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                    <!-- end of table fixed price -->
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
    </section>
    <!-- end of search result fixed price -->
    <!-- search result elements variable price -->
    <section >
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    {% if variableCosts is defined and variableCosts != null %}
                        <!-- table variable price -->
                        <div class="row justify-content-center">
                            <div class="col col-md-10">
                                <h2 class="mb-3">Frais hors forfait</h2>
                            </div>
                            <div class="col col-md-10 mb-4">
                                <div class="table-responsive">
                                    <table class="table table-dark bg-secondary">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Libellé</th>
                                            <th>Nombre de justificatifs</th>
                                            <th>Montant</th>
                                            <th>Statut</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% set total = 0 %}
                                            {% for variableCost in variableCosts %}
                                                <tr>
                                                    <td>{{ variableCost.date | date('d/m/Y')}}</td>
                                                    <td>{{ variableCost.name }}</td>
                                                    <td>{{ variableCost.nbSupportingDocument }}</td>
                                                    <td>{{ variableCost.price }}</td>
                                                    <td>
                                                        {% if variableCost.status == 'Envoyée' or variableCost.status == 'Reportée'%}
                                                            <span class="badge badge-info">{{ variableCost.status }}</span>
                                                        {% endif %}
                                                        {% if variableCost.status == 'Validée' %}
                                                            <span class="badge badge-primary">{{ variableCost.status }}</span>
                                                            {% set  total = (total + (variableCost.price))%}
                                                        {% endif %}
                                                        {% if variableCost.status == 'Refusée' %}
                                                            <span class="badge badge-danger px-2">{{ variableCost.status }}</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr >
                                                <td>Total des frais remboursés pour le mois: </td>
                                                <td>{{ month }}/{{ year }}</td>
                                                <td></td>
                                                <td>
                                                    <input type="text" class="form-control-sm w-100 border-0" value="{{ total }} €" readonly>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <!-- end of table variable price -->
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>
    <!-- section message -->
    <section class="mb-5" >
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row justify-content-center">
                        <div class="col col-md-10">
                            {% if message %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of section message -->
    {% include 'includes/_footer.html.twig' %}
{% endblock %}
