/**
 * -------------------------------------------------------------------------------
 * VARIABLES
 *------------------------------------------------------------------------------
 */
// colors theme
$primary: #38AF4A;
$secondary:#034221;
$success: #082516;
$info: #007BFF;

// Body
$body-bg:                   #eee !default;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
$headings-font-family: 'Russo One', sans-serif;
$font-family-sans-serif: Roboto, sans-serif;
$display4-size:               1.5rem !default;

// Bouttons
$border-radius:               0 !default;
$border-radius-lg:            0 !default;
$border-radius-sm:            0 !default;
$border-color: #999;
$input-btn-padding-x:         2.5rem;
$input-btn-padding-y:         0.15rem;
$input-btn-font-size:         1.2rem;

// Links
$link-hover-decoration: none;
$navbar-light-active-color: $primary;

// Inputs
$input-bg:                             #fff;
$input-disabled-bg:                    rgba(52,58,64,.3) !default;
$input-focus-border-color:             $primary !default;
$form-feedback-valid-color:            $primary !default;



// Headings
$h1-font-size:                1.4rem;
$h2-font-size:                1.1rem;
$h3-font-size:                1rem;

// Tables
$table-dark-color:            #eee;
$yiq-text-light:              #eee;



/**
 * -------------------------------------------------------------------------------
 * HOME PAGE
 *------------------------------------------------------------------------------
 */


.logo {
  width: 6em;
  height: 2em;
}

.line1, .line2, .line3 {
  width: 1.5em;
  height: .15em;
  margin: 0.3em;
  transition: all .4s;
}

/*** Déclage des lignes 1 et trois pour construire une croix
  line1: avec translate on décle la ligne de 5px vers la gauche et de 6px vers le bas
  line3: on décale la ligne de 5px vers la gauche et de 8px vers le haut  ***/
.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.banner {
  background: linear-gradient(rgba(3, 66, 33, 0.8), rgba(3, 66, 33, 0.85)) ,url(../image/dima-mukhin-DFhSL1pM90k-unsplash.jpg) no-repeat top center/cover;
  height: 100vh;
  padding-top: 11rem;
  & h1{
    font-size: 2rem;
    -webkit-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-11 13:17:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


/**
 * -----------------------------------------------------------------------------
 * FORM CONNEXION
 * -----------------------------------------------------------------------------
 */

.form-connexion {
  height: 100vh;
}

// .fa-eye-view {
//   position: absolute;
//   top:55%;
//   right: 2%;
// }

/**
 * -----------------------------------------------------------------------------
 * NAVIGATION
 * -----------------------------------------------------------------------------
 */

.sidebar {
  height: 100vh;
  background: linear-gradient(rgba(8, 37, 22, .8), rgba(8, 37, 22, .9)), url(../image/img1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 7px 25px #999;
}

.bottom-border {
  border-bottom: 1px groove #eee;
}

.sidebar-link {
  transition: all .4s;
  &:hover{
    background-color: #38AF4A;
  }
  &:active{
    color: #38AF4A;
  }
}

/**
 * -----------------------------------------------------------------------------
 * BOOTSTRAP
 * -----------------------------------------------------------------------------
 */

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/**
 * -----------------------------------------------------------------------------
 * NAVBAR BURGER
 * -----------------------------------------------------------------------------
 */
@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
    border-bottom: 1px groove #eee;
  }

  .top-navbar {
    position: static;
  }
}

