{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <!-- section profil visiteur médical -->
    <section>
        <div class="container-fluid mt-3 mb-5 mt-md-5 p-md-5">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-9 col-lg-10 ml-auto">
                    <div class="col-xl-10 col-12 mx-auto">
                        <div>
                            <div class="row mb-4">
                                <div class="col-12 col-md-8 d-md-flex text-center">
                                    {% if user.photo %}
                                        <img src="{{ asset('img/users/' ~ user.photo) }}" width="200" class="img-thumbnail border p-1 mr-3" alt="avatar" />
                                    {% else %}
                                        <img src="{{ asset('img/avatar.png') }}" width="200" class="img-thumbnail border p-1 mr-3" alt="avatar">
                                    {% endif %}
                                    <div class="font-weight-bolder">
                                        <p>{{ user.firstName }} {{ user.lastName }}</p>
                                        {% if user.photo %}
                                            <a href="{{ path('app_edit_photo', {id:avatar.id}) }}" class="badge badge-primary"> Modifier la photo</a>
                                            <form method="post" action="{{ path('app_delete_photo', {id:avatar.id}) }}" onsubmit="return confirm('Etes-vous vraiment sur de vouloir supprimer cette photo?')">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token ('delete' ~ avatar.id)}}">
                                                <button type="submit" class="badge badge-danger border-0 px-4">Supprimer</button>
                                            </form>
                                        {% else %}
                                            <a href="{{ path('app_add_photo') }}" class="badge badge-primary"> Ajouter une photo</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 text-center">
                                    <a href="{{ path('app_edite_profile') }}" class="btn btn-sm btn-outline-primary ml-auto mt-2">Editer mon profil</a>
                                </div>
                            </div>
                            <div class=" shadow p-3 mb-5 bg-light rounded">
                                <p class="display-4 font-weight-bold">A propos de moi</p>
                                {% if user.dateOfBirth %}
                                    <p><span class="font-weight-bold">Date de naissance : </span> {{ user.dateOfBirth | date("m/d/Y")}}</p>
                                {% endif %}
                                {% if user.phoneNumber %}
                                    <p><span class="font-weight-bold">Numéro de téléphone : </span> {{ user.phoneNumber }}</p>
                                {% endif %}
                                {% if user.email %}
                                    <p><span class="font-weight-bold">Email : </span> {{ user.email }}</p>
                                {% endif %}
                                {% if user.adresse%}
                                    <div class="d-flex">
                                        <div>
                                            <span class="font-weight-bold">Adresse : </span>
                                        </div>
                                        <div class="px-2">
                                            <p>{{ user.adresse }}</p>
                                            <p>{{ user.city }} {{ user.postalCode }}</p>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                            <div class="shadow p-3 mb-5 bg-light rounded">
                                <p class="display-4 font-weight-bold">Informations sur le compte</p>
                                <p><span class="font-weight-bold">Date d'inscription : </span> {{ user.createdAt | date("m/d/Y")}}</p>
                                <p><span class="font-weight-bold">Dernière connexion : </span> {{ user.lastLoginAt |format_datetime('full', 'short', locale='fr')}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of section profil visiteur médical -->
{% endblock %}

