<!-- section modifier profil visiteur médical -->
<section>
    <div class="container-fluid my-5 p-md-5">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-9 col-xl-10 ml-auto">
                <div class="row">
                    <div class="col-11 col-md-12 col-lg-10 mx-auto mb-3 shadow p-3 bg-light rounded">
                        <div class=" w-100">
                            <p class="display-4 font-weight-bold">A propos de moi </p>
                            {{ form_start(form) }}
                            <div class="row mb-2">
                                <div class="col-12 col-md-6">
                                    {{ form_row(form.firstName) }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ form_row(form.lastName) }}
                                </div>
                                <small class="ml-3">Le nom et le prénom ne peuvent plus être modifiés.</small>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12 col-md-6 mb-2">
                                    {{ form_row(form.dateOfBirth) }}
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    {{ form_row(form.sex) }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12 col-md-6 mb-2">
                                    {{ form_row(form.email) }}
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    {{ form_row(form.phoneNumber) }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12 mb-2">
                                    {{ form_row(form.adresse) }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-6 mb-2">
                                    {{ form_row(form.city) }}
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    {{ form_row(form.postalCode) }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12 text-right">
                                    <input class="btn btn-outline-primary" type="submit" value="Valider">
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of section modifier profil visiteur médical -->