<!-- footer -->
<footer class="fixed-bottom">
    <div class="container-fluid text-light">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-success">
                <div class="col-lg-6 text-center mx-auto pt-2">
                    <p class="pt-1 pb-1">
                        <small class="text-light">Copyright &copy; Galaxy Swiss Bourdin 2021.</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end of footer -->