{{ form_start(form, {
    'attr': {
        'id': 'js-form-edite-fixed-cost'
    }
}) }}
    {{ form_row(form.descriptionCost, {
        'attr': {
            'class': 'd-none'
        }
    }) }}
    {{ form_row(form.quantity, {
        'label': 'Quantité'
    }) }}
    {{ form_row(form.unitPrice, {
        'attr': {
            'class': 'd-none'
        }
    }) }}
    {{ form_row(form.total, {
        'attr': {
            'class': 'd-none'
        }
    }) }}
    <input type="submit" class="btn btn-sm btn-primary w-100" value="Valider" ">
{{ form_end(form) }}



