<!-- modal -->
<div class="modal fade" id="sign-out">
    <div class="modal-dialog text-light">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h6 class="modal-title">Vous souhaitez vous deconnecter?</h6>
                <button type="button" class="close text-light" data-dismiss="modal">&times</button>
            </div>
            <div class="modal-body">
                Appuyer sur deconnexion pour quitter
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-sm btn-primary" data-dismiss="modal">Continuer</a>
                <a href="{{ path('app_logout') }}" class="btn btn-sm btn-danger" >Deconnexion</a>
            </div>
        </div>
    </div>
</div>
<!-- end of modal -->