<!-- navbar -->
<header>
    <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#my-navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="my-navbar">
            <div class="container-fluid">
                <div class="row">
                    <!-- sidebar -->
                    <div class="col-12 col-md-4 col-lg-3 col-xl-2 sidebar fixed-top bg-success">
                        <a href="{{ path('app_login') }}" class="d-block mx-auto text-center py-2 mb-2 bottom-border"><img class="img-fluid logo" src="{{ asset('img/logo3.gif') }}" alt="logo"></a>
                        <div class="bottom-border pb-2">
                            {% if user.photo %}
                                <img src="{{ asset('img/users/' ~ user.photo) }}" width="50" class="rounded-circle border p-1 ml-3 mr-3" alt="photo de profil" />
                            {% else %}
                                <img src="{{ asset('img/avatar.png') }}" width="50" class="rounded-circle border p-1 ml-3 mr-3" alt="avatar">
                            {% endif %}
                            <p class="text-white d-inline">{{ user.firstName }} {{ user.lastName }}</p>
                        </div>
                            <ul class="navbar-nav flex-column mt-4 pb-4">
                                <li class="nav-item"><a href="{{ path('app_account_visitor') }}" class="nav-link text-white p-3 mb-2 sidebar-link {% if current_menu is defined and current_menu == 'profile' %}active text-primary font-weight-bold{% endif %}"><i class="fas fa-user fa-lg mr-3 {% if current_menu is defined and current_menu == 'profile' %} text-primary{% else %}text-light{% endif %}"></i>Profil</a></li>
                                <li class="nav-item"><a href="{{ path('app_add_costs') }}" class="nav-link text-white p-2 mb-2 sidebar-link {% if current_menu is defined and current_menu == 'create_cost' %}active text-primary font-weight-bold{% endif %}">Gérer mes notes de frais</a></li>
                                <li class="nav-item"><a href="{{ path('app_show_costs') }}" class="nav-link text-white p-2 mb-2 sidebar-link {% if current_menu is defined and current_menu == 'show_cost' %}active text-primary font-weight-bold{% endif %}">Consulter mes notes de frais</a></li>
                                <li class="nav-item"><a href="{{ path('app_new_password') }}" class="nav-link text-white p-2 mb-2 sidebar-link {% if current_menu is defined and current_menu == 'new_password' %}active text-primary font-weight-bold{% endif %}">Modifier mon mot de passe</a></li>
                                <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link text-white p-2 mb-2 sidebar-link ">Déconnexion</a></li>
                            </ul>
                    </div>
                    <!-- end of sidebar -->

                    <!-- top-nav -->
                    <div class="col-12 col-md-8 col-lg-9 col-xl-10 ml-auto fixed-top py-1 top-navbar bg-success">
                        <div class="row align-items-center">
                            <div class="col-md-10 d-flex">
                                <p class="text-light mb-0 ml-3 mr-5 pt-1">Visiteur Médical<p/>
                            </div>
                            <div class="col-md-2">
                                <ul class="navbar-nav">
                                    <li class="nav-item ml-md-auto">
                                        <a href="#" class="nav-link ml-3" data-toggle="modal" data-target="#sign-out">
                                            <i class="fas fa-sign-out-alt text-primary fa-lg"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end of top-nav -->
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- end of navbar -->