{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    {% include 'includes/_navbar_editor.html.twig' %}
    {% include 'includes/_modal.html.twig' %}
        <section>
            <div class="container-fluid my-5 p-md-5">
                <div class="row">
                    <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                        <div class="row justify-content-center mb-3">
                            <div class="col col-md-8">
                                <h1>Suivre le paiement des notes de frais :</h1>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8 table-responsive-sm">
                                <table class="table table-dark table-striped bg-secondary">
                                    <thead>
                                    <tr scope="row">
                                        <th scope="col" >Visiteur Médical</th>
                                        <th scope="col">Mois/année</th>
                                        <th scope="col">Mise en recouvrement le</th>
                                        <th scope="col">Remboursée</th>
                                        <th scope="col">Total</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for expense in expenses%}
                                            <tr>
                                                <th scope="row">
                                                    {{ expense.visitorFirstName }} {{ expense.visitorLastName }}
                                                </th>
                                                <td>{{ expense.month }} - {{ expense.year }}</td>
                                                <td>{{ expense.createdAt | date('d/m/y') }}</td>
                                                <td>
                                                    <span class="badge badge-danger js-validated-expense">Non</span>
                                                </td>
                                                <td>{{ expense.total }} €</td>
                                                <td>
                                                    <a href="{{ path('app_validate_expense', {id: expense.id}) }}" class="brn btn-sm btn-primary js-validate-expense">Rembourser</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% include 'includes/_footer.html.twig' %}
{% endblock %}
{% block javascripts%}
    <script type="text/javascript" src="{{ asset('js/validate_expense.js') }}"></script>
{% endblock %}