{% extends 'base.html.twig' %}

{% block title %}Compte comptable{% endblock %}

{% block body %}
    {% include 'includes/_navbar_editor.html.twig' %}
    {% include 'includes/_modal.html.twig' %}
    {% include 'includes/_account.html.twig' %}
    {% include 'includes/_footer.html.twig'%}
{% endblock %}
