{% extends 'base.html.twig' %}

{% block title %}Liste des visiteurs médicaux{% endblock %}

{% block body %}
    {% include 'includes/_navbar_editor.html.twig' %}
    {% include 'includes/_modal.html.twig' %}
    <!-- List visitors -->
    <section>
        <div class="container-fluid my-3 my-md-5 p-md-5">

                <div class="xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 mb-5 text-center">
                            {{ form_start(form) }}
                                <div class="row align-items-center">
                                    <div class="col-12 col-md-4 ml-md-4">
                                        {{ form_row(form.firstName) }}
                                    </div>
                                    <div class="col-12 col-md-4">
                                        {{ form_row(form.lastName) }}
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-outline-primary" value="Rechercher">
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 table-responsive">
                            <table class="table table-dark table-striped table-borderless table-hover bg-secondary">
                                <thead class="bg-light text-secondary border-0">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for visitor in visitors %}
                                        <tr>
                                            <td>
                                                <div class="mr-3">
                                                    {% if visitor.photo %}
                                                        <img src="{{ asset('img/users/' ~ visitor.photo) }}" width="50" class="rounded-circle">
                                                    {% else %}
                                                        <img src="{{ asset('img/avatar.png') }}" width="50" class="rounded-circle">
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td>{{ visitor.firstName }}</td>
                                            <td>{{ visitor.lastName }}</td>
                                            <td>
                                                <a href="{{ path('app_visitor_show_expenses', {id:visitor.id}) }}"><small>Consulter les notes de frais</small></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 mt-4">
                            <div class="navigation">
                                {{ knp_pagination_render(visitors) }}
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </section>
    <!-- End of list visitors-->
    {% include 'includes/_footer.html.twig'%}
{% endblock %}
