{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    {% include 'includes/_navbar_editor.html.twig' %}
    {% include 'includes/_modal.html.twig' %}
    <!-- form connexion -->
    <section class="mt-5" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row justify-content-center py-5">
                        <div class="col-10 col-lg-5 pt-5">
                            {% for message in app.flashes('danger') %}
                                <div class="alert alert-danger" role="alert">{{ message|trans }}</div>
                            {% endfor %}
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success" role="alert">{{ message}}</div>
                            {% endfor %}
                            <div class="text-center">
                                <div class="mb-4">
                                    <h2 >Enregistrer votre nouveau mot de passe</h2>
                                </div>
                                {{ form_start(form) }}
                                {{ form_row(form.old_password) }}
                                {{ form_row(form.new_password) }}
                                <div class="mt-4">
                                    <input type="submit" class="btn btn-outline-primary w-100 mb-2" value="Valider">
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'includes/_footer.html.twig' %}
{% endblock %}