{% extends 'base.html.twig' %}

{% block title %}Traitement d'une fiche de frais{% endblock %}

{% block body %}
    {% include 'includes/_navbar_editor.html.twig'%}
    {% include 'includes/_modal.html.twig'%}
    <section class="mt-3 mt-md-5 mb-4 px-3">
        <div class="container-fluid pt-md-5">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row justify-content-center">
                        <div class="col col-md-10">
                            <h1 class="mb-2">Traiter une fiche de frais</h1>
                            <p>Veuillez choisir un visiteur médical,  l'année et le mois pour lequel vous souhaiter traiter la fiche de frais</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10">
                            <div class="bg-primary text-light py-2">
                                {{ form_start(form) }}
                                <div class="row px-3">
                                    <div class="col-12 col-md-4">{{ form_row(form.user) }}</div>
                                    <div class="col-12 col-md-2">{{ form_row(form.month) }}</div>
                                    <div class="col-12 col-md-2">  {{ form_row(form.year) }}</div>
                                    <div class="col-12 col-md-4 text-right">
                                        <input class="btn btn-sm btn-secondary mt-3 px-3" type="submit" value="Rechercher">
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if fixedCosts != null or variableCosts != null %}
        {% set validated = false %}
        <section class="mb-5" >
            <div class="container-fluid mb-5">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row justify-content-center mb-2">
                        <div class="col col-md-10">
                            <h3>Frais au forfait :</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-2">
                        <div class="col-12 col-md-10">
                            <div class="table-responsive">
                                <!-- table fixed price -->
                                <table class="table table-sm table-dark bg-secondary">
                                    <thead>
                                        <tr>
                                            <th>Frais au forfait</th>
                                            <th>Saisi le </th>
                                            <th>Quantité</th>
                                            <th>Prix unitaire</th>
                                            <th>total</th>
                                            <th>Statut</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for fixedCost in fixedCosts %}
                                            {% set id  = fixedCost.id  %}
                                            {% if fixedCost.status == 'Validée' or fixedCost.status == 'Refusée'%}
                                                {% set validated = true %}
                                            {% endif %}
                                            <tr id = {{ id }}>
                                                <td class="js-name">{{ fixedCost.descriptionCost.name}}</td>
                                                <td class="js-createdAt">{{ fixedCost.createdAt | date('d/m/y') }}</td>
                                                <td class="js-quantity">{{ fixedCost.quantity }}</td>
                                                <td class="js-unitPrice">{{ fixedCost.descriptionCost.fixedPrice }} €</td>
                                                <td class="js-total">{{ (fixedCost.descriptionCost.fixedPrice * fixedCost.quantity) }} €</td>
                                                <td>
                                                    <span class="js-status badge {% if fixedCost.status == 'Envoyée' %} badge-info
                                                                       {% elseif fixedCost.status == 'Validée'%} badge-primary px-2
                                                                       {% elseif fixedCost.status == 'Refusée'%} badge-danger
                                                                       {% endif %}">
                                                        {{ fixedCost.status }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <a class="mr-1" href="{{ path('app_validate_fixedCost', {id:fixedCost.id}) }}"  title="valider" {% if validated == true %} style="pointer-events:none; cursor:pointer;" {% endif %}>
                                                        <i class="fas fa-check-circle fa-lg text-primary js-validate-fixedCost" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="{{ path('app_regret_fixedCost', {id:fixedCost.id}) }}" title="Rejeter" {% if validated == true %} style="pointer-events:none; cursor:pointer;" {% endif %}>
                                                        <i class="fas fa-times-circle fa-lg text-danger mr-1 js-regret-fixedCost " aria-hidden="true"></i>
                                                    </a>
                                                    {# <a href="{{ path('app_edite_fixedCost', {id:fixedCost.id}) }}" title="modifier">
                                                        <i class="fas fa-edit fa-lg text-primary" aria-hidden="true"></i>
                                                    </a> #}
                                                   <a data-target="{{ path('app_edite_fixedCost', {id:fixedCost.id}) }}"
                                                        href="#edite_cost" class="data-trigger" {% if validated == true %} style="pointer-events:none; cursor:pointer;" {% endif %}>
                                                       <i class="fas fa-edit fa-lg text-primary" aria-hidden="true" ></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- end of table fixed price -->
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-2">
                        <div class="col col-md-10">
                            <h3>Frais hors forfait :</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-2">
                        <div class="col-md-10">
                            <div class="table-responsive">
                                <table class="table table-dark bg-secondary">
                                    <thead>
                                        <tr>
                                            <th scope="col-3">Libellé</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Nombre de justificatifs</th>
                                            <th scope="col">Montant</th>
                                            <th scope="col">Statut</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for variableCost in variableCosts %}
                                        {% if variableCost.status == 'Validée' or variableCost.status == 'Refusée'%}
                                            {% set validated = true %}
                                        {% endif %}
                                        <tr>
                                            <td>{{ variableCost.name }}</td>
                                            <td>{{ variableCost.date | date('d/m/y')}}</td>
                                            <td>{{ variableCost.nbSupportingDocument }}</td>
                                            <td>{{ variableCost.price}} €</td>
                                            <td>
                                                <span class="js-status badge {% if variableCost.status == 'Envoyée' or variableCost.status == 'Reportée'%} badge-info
                                                                       {% elseif variableCost.status == 'Validée'%} badge-primary px-2
                                                                       {% elseif variableCost.status == 'Refusée'%} badge-danger
                                                                       {% endif %}">{{ variableCost.status }}
                                                </span>
                                            </td>
                                            <td>
                                                <a href="{{ path('app_validate_variableCost', {id:variableCost.id}) }}" title="valider" {% if validated == true %} style="pointer-events:none; cursor:pointer; background:#034221" {% endif %}>
                                                    <i class="fas fa-check-circle fa-lg text-primary mr-1 js-validate-variableCost" aria-hidden="true"></i>
                                                </a>
                                                <a href="{{ path('app_regret_variableCost', {id:variableCost.id}) }}" title="Rejeter" {% if validated == true %} style="pointer-events:none; cursor:pointer;" {% endif %}>
                                                     <i class="fas fa-times-circle fa-lg text-danger mr-1 js-regret-variableCost" aria-hidden="true"></i>
                                                </a>
                                                <a href="{{ path('app_report_variableCost', {id:variableCost.id}) }}" title="reporter" onclick="return confirm('Etes-vous vraiment sur de vouloir reporter cette note?')" {% if validated == true %} style="pointer-events:none; cursor:pointer;" {% endif %}>
                                                    <i class="fas fa-calendar-alt fa-lg text-primary js-report-variableCost" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5 justify-content-center">
                        <div class="col-12 col-md-10 mb-5 mt-3 text-right">
                            <a href="{{ path('app_add_expense') }}" class="btn btn-outline-primary" {% if validated == true %} style="pointer-events:none; cursor:pointer;" {% endif %}> Valider </a>
                        </div>
                    </div>
                </div>
                <!-- modal -->
                <div class="modal modal1 fade" id="edite_cost">
                    <div class="modal-dialog text-light">
                        <div class="modal-content bg-secondary">
                            <div class="modal-header">
                                <h6 class="modal-title">Modifier un frais au forfait</h6>
                                <button type="button" class="close text-light" data-dismiss="modal">&times</button>
                            </div>
                            <div class="modal-body" id="content" >

                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-sm btn-danger" data-dismiss="modal">Annuler</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of modal -->
        </section>
    {% else %}
        <section class="mb-5" >
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                        <div class="row justify-content-center">
                            <div class="col col-md-10">
                                {% if message %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% include 'includes/_footer.html.twig'%}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/validate_cost.js') }}"></script>
    <script src="{{ asset('js/edite_cost.js') }}"></script>
{% endblock %}
