{% extends 'base.html.twig' %}

{% block title %}Edition de mon profil{% endblock %}

{% block body %}
    {% include 'includes/_navbar_editor.html.twig' %}
    {% include 'includes/_edit_profile.html.twig' %}
    {% include 'includes/_modal.html.twig' %}
    {% include 'includes/_footer.html.twig'%}
{% endblock %}