{% extends 'base.html.twig' %}

{% block title %}fiches de frais{% endblock %}

{% block body %}
    {% include 'includes/_navbar_editor.html.twig' %}
    {% include 'includes/_modal.html.twig' %}
    <section>
        <div class="container-fluid my-3 my-md-5 p-md-5">

                <div class="col-xl-10 col-lg-10 col-md-10 ml-auto">
                    <div class="row justify-content-center mb-3">
                        <div class="col-12 col-md-10">
                            <h1>Notes de frais du visiteur Médical {{ visitor.firstName }} {{ visitor.lastName }} :</h1>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 table-responsive">
                            <table class="table table-dark table-striped bg-secondary">
                                <thead>
                                    <tr>
                                        <th scope="col">Visiteur Médical</th>
                                        <th scope="col">Mois/année</th>
                                        <th scope="col">Mise en recouvrement</th>
                                        <th scope="col">Remboursé le</th>
                                        <th scope="col">Remboursée</th>
                                        <th scope="col">Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for expense in expenses%}
                                        <tr>
                                            <th scope="row">
                                                {{ expense.visitorFirstName }} {{ expense.visitorLastName }}
                                            </th>
                                            <td>{{ expense.month }} - {{ expense.year }}</td>
                                            <td>{{ expense.createdAt | date('d/m/Y') }}</td>
                                            <td>
                                                {% if expense.isPayed == true %}
                                                    {{ expense.updatedAt | date('d/m/Y') }}
                                                {% else %}
                                                    00/00/0000
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if expense.isPayed == false %}
                                                    <span class="badge badge-danger">Non</span>
                                                {% else %}
                                                    <span class="badge badge-primary">Oui</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ expense.total }} €</td>
                                            <td>
                                                <a href="{{ path('app_detail_expense', {id:expense.id}) }}" class="btn btn-sm btn-primary">Détail</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

        </div>
    </section>
    {% include 'includes/_footer.html.twig' %}
{% endblock %}