{% extends 'base.html.twig' %}

{% block title %}fiche de frais{% endblock %}

{% block body %}
    {% include 'includes/_navbar_editor.html.twig' %}
    {% include 'includes/_modal.html.twig' %}

    <section>
        <div class="container-fluid my-5 p-md-5">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row justify-content-center mb-4">
                        <div class="col-12 col-md-10">
                            <h2>Fiche de frais du visiteur médical <span class="font-weight-bold"> {{ visitor.firstName}} {{ visitor.lastName}} </span> du mois de {{ month }}/{{ year }}, mise en recouvrement le {{ expense.createdAt | date('d/m/Y') }}  {% if expense.isPayed == true %} et remboursée le {{ expense.updatedAt | date('d/m/Y')}} {% endif %}:</h2>
                        </div>
                    </div>
                    {% if fixedCosts != null %}
                        <div class="row justify-content-center mb-4">
                            <div class="col-12 col-md-8">
                                <h3 class="mb-2">Frais au forfait:</h3>
                                <table class="table table-dark table-striped bg-secondary">
                                    <thead>
                                        <tr>
                                            <th scope="col">Frais au forfait</th>
                                            <th scope="col">Montant</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for fixedCost in fixedCosts %}
                                            <tr>
                                                <th scope="row">
                                                    {{ fixedCost.descriptionCost.name }}
                                                </th>
                                                <td>{{ (fixedCost.descriptionCost.fixedPrice * fixedCost.quantity) }} €</td>
                                                <td>{{ fixedCost.status }} </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                    {% if variableCosts != null %}
                        <div class="row justify-content-center mb-3">
                            <div class="col-12 col-md-8">
                                <h3 class="mb-2">Frais hors forfait:</h3>
                                <table class="table table-dark table-striped bg-secondary">
                                    <thead>
                                        <tr>
                                            <th scope="col">Libellé</th>
                                            <th scope="col">Montant</th>
                                            <th scope="col">Statut</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for variableCost in variableCosts %}
                                            <tr>
                                                <th scope="row">
                                                    {{ variableCost.name }}
                                                </th>
                                                <td>{{ variableCost.price }} €</td>
                                                <td>{{ variableCost.status }} </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row justify-content-center pb-4">
                        <div class="col-12 col-md-8 text-right">
                            <a href="{{ path('app_visitor_show_expenses', {id:visitor.id}) }}" class="btn btn-outline-primary">retour</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'includes/_footer.html.twig' %}
{% endblock %}