<h1>Bonjour, Confirmez votre adresse email</h1>

<p>
    Vous êtres prié de confirmer votre adresse email en cliquant sur ce lien: <br><br>
    <a class="link-info" href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
    Ce lien expirera dans{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Nous vous remercions ! A bientôt sur notre site !
</p>
