<h1>Bonjour</h1>

<p>
    Voici le lien pour réinitialiser votre mot de passe: <br><br>
    <a href="{{ signedUrl|raw }}">Réinitialiser mon mot de passe</a>.
    Ce lien expirera dans{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Nous vous remercions ! A bientôt sur notre site !
</p>

