<h1>Information Importante concernant votre déclaration de frais</h1>

<p>
    Un des frais hors forfait que vous avez déclaré a été refusé.<br>
    Pour plus d'information, Veuillez vous connecter à votre compte en cliquant sur ce lien: <br>
    <a href="{{ signedUrl|raw }}">Se connecter</a>.
</p>

<p>
    Nous restons à votre disposition pour plus d'information.
</p>